<div class="box">
    <img src="{{project.image}}" />
    <div>
        <h1>{{project.name}}</h1>
        <p>
            {{project.description}}
        </p>
        <b>
            <a href="{{project.url}}">
                <button class="github">
                    <img width=15 src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/GitHub_Invertocat_Logo.svg/1200px-GitHub_Invertocat_Logo.svg.png" />
                    Github
                </button>
            </a>
            <button class="open">
                Open
            </button>
        </b>
    </div>
</div>